backend-session/node_modules
backend-session/.env.production
backend-session/.env

backend-jwt/node_modules
backend-jwt/.env.production
backend-jwt/.env

backend-session/package-lock.json

frontend/node_modules
frontend-jwt/node_modules